{% extends "inventory/base.html" %}

{% block content %}

<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">

    <div class="col-md-4">

        <div class="card shadow-lg p-4">

            <!-- Title -->
            <h3 class="text-center mb-3" style="color:#4c1d95;">
                Create Account
            </h3>

            <p class="text-center text-muted mb-4">
                Register to start using StockPilot
            </p>

            <!-- FORM -->
            <form method="POST">
                {% csrf_token %}

                <!-- Username -->
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    {{ form.username }}
                    <small class="text-muted">{{ form.username.help_text }}</small>
                    {% if form.username.errors %}
                        <div class="text-danger small">
                            {{ form.username.errors }}
                        </div>
                    {% endif %}
                </div>

                <!-- Password -->
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    {{ form.password1 }}
                    <small class="text-muted">{{ form.password1.help_text }}</small>
                    {% if form.password1.errors %}
                        <div class="text-danger small">
                            {{ form.password1.errors }}
                        </div>
                    {% endif %}
                </div>

                <!-- Confirm Password -->
                <div class="mb-3">
                    <label class="form-label">Confirm Password</label>
                    {{ form.password2 }}
                    <small class="text-muted">{{ form.password2.help_text }}</small>
                    {% if form.password2.errors %}
                        <div class="text-danger small">
                            {{ form.password2.errors }}
                        </div>
                    {% endif %}
                </div>

                <!-- Email -->
                 <div class="mb-3">
                    <label>Email</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="text-danger small">
                            {{ form.email.errors }}
                        </div>
                    {% endif %}
                    </div>

                <button type="submit" class="btn btn-primary w-100">
                    Register
                </button>
            </form>

            <!-- Footer -->
            <hr class="my-4">

            <p class="text-center mb-0">
                Already have an account?
                <a href="{% url 'login' %}" style="color:#7c3aed; font-weight:500;">
                    Login
                </a>
            </p>

        </div>

    </div>

</div>

{% endblock %}